@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: var(--color-gray-800);
  --info: var(--color-blue-700);
  --muted: var(--color-gray-500);
  --surface: #ffffff;
  --surface-2: var(--color-gray-100);
  --border: color-mix(in oklab, var(--color-gray-600) 20%, transparent);
  input:is(:-webkit-autofill, :autofill) {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--foreground);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-info: var(--info);
  --color-muted: var(--muted);
  --color-surface: var(--surface);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-neon: #39ff14;
  --color-green-50: #f0f7f7;
  --color-green-100: #ddf0ee;
  --color-green-200: #c5e8e5;
  --color-green-300: #a0ded9;
  --color-green-400: #69d6cd;
  --color-green-500: #00ccbb;
  --color-green-600: #00a39e;
  --color-green-700: #007478;
  --color-green-800: #00444d;
  --color-green-900: #00141a;

  --color-primary: var(--color-green-500);

  --animate-fade-in: fade-in 0.3s ease-in-out forwards;
  --animate-fade-out: fade-out 300ms ease-in-out forwards;
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(20px);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-gray-300);
    --info: var(--color-blue-400);
    --surface: #0f0f0f;
    --surface-2: color-mix(in oklab, var(--color-gray-600) 10%, transparent);
    --surface-3: #262626;

    input:is(:-webkit-autofill, :autofill) {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--foreground);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}